body {
  background-color: var(--backround-color);
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 0rem 0.5rem;
  
}
:root {
  font-size: 18px;
  --letter-color: black;
  --primary-color: #000080;
  --succes-color: green;
  --fail-color: rgb(180, 6, 6);
  --backround-color: #f2f2f2;
}
.navbar {
  background: white;
  padding: 0.5em;
  height: 1.5em;
  width: 100%;
  align-items: center;
  display: flex;
  place-content: space-between;
  z-index: 800;
  position: fixed;
  
  
    
}
tr:nth-child(even) {background-color: #f2f2f2;}
.left {
  color:var(--primary-color);
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
  margin-left: 0;
}
.n {                 
  transform: scale(-1, 1);
  color: rgba(185, 37, 26, 0.904);
  
  font-size: 1.7rem;
  font-weight: bolder;
  margin-left: 2rem;
  margin-right: 0;
  
}

.logo {
  display: flex;
}
.top {
  position: fixed;
  z-index: 999;
  width: 50%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
  
}
.top {
  display: none;
}
.navbar .left span {
  list-style-type: none;
  text-decoration: none;
}
.right {
  margin-top: 4rem;

}
.right li {
  list-style-type: none;
  text-align: right;
}

.right li a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  list-style-type: disc;
}
.mobile-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
.menu-btn {
  display: block;
}
.navbar .navbar-menu,
.mobile-exit {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.profile {
  /* display: none; */
  height: 20rem;
  width: 20rem;
  float: right;
  border-radius: 50%;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-right: 1rem;
}

/* landing page */
/* section.landing-page {
  display: block;
  place-content: space-between;
  margin: 2.5rem 0rem 6rem 0rem;
} */

#hire-button {
  background-color: var(--primary-color);
  width: 6rem;
  height: 1.8rem;
  border-radius: 2rem;
  margin: 1rem;
  font-size: 1rem;
  border-style: none;
}
#learn-button {
  background-color: #aabbcc;
  width: 7rem;
  height: 1.8rem;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1rem;
  border-style: none;
}
#learn-button:hover {
  font-weight: bolder;
  color: #4794e0da;
  background-color: white;
  
}
#hire-button:hover {
  font-weight: bolder;
  background-color: white;
  color: var(--primary-color);
}
.desc {
  align-items: center;
  display: inline-block;

}
.landing-page {
  display: flex;
  flex-wrap: wrap;
}
.desc h3 {
  margin-bottom: 2rem;
}

.desc h1 {
  font-size: 2.5rem;
  margin: 1rem 0rem;
  color: var(--primary-color)
}
.desc p {
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
}
.social-media {
  display: flex;
}
.social-img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 1rem 2rem 0 0;
}
#profile{
  order: 1;
}
#description {
  order: 2;
}
/* end */
/* About me page */
#about {
  /* background-color: #20272e;
  color: white; */
  padding-top: 2.2rem;

 
}

.title {
  margin-bottom: 0.5rem;
}
#about h1.title {
  transform: translate(30%);
  margin:0 0 0 3rem;
  font-size: 2rem;
  padding-top: 0;
}

.container {
  display: block;
  margin-bottom: 1.5rem;
  
}
.skills {
  margin-left: 0;
}
.container div {
 flex: 1;
 margin:0 4rem;
 font-size: 1.5rem;
}
.container div h1 {
  font-size: 1.5rem;
  margin-left: 0rem;
  font-weight: bold;
}
.description button {
  width: 14rem;

}
.skills li {
  display: flex;
}
.skills li label {
  margin-right: auto;
}
.skills button {
  width: 12rem;
  border-style: none;
  
}

.progress {
  background-color: rgb(255, 102, 0);
  border-radius: 3px;
  box-shadow: 0 1px 3px var(--primary-color);
  margin: 0rem;
  height: 1.5rem;
  width: 17rem;
  max-width: 100%;
  background: var(--primary-color);
  /* margin-left: auto; */
  
}
.button {
  background: var(--primary-color);
  margin: 1.3rem 0;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.button:hover {
  color: var(--primary-color);
  background: var(--backround-color);
}



/* end */


/*contact  */

#contact h2 {
  /* margin: 2rem 0 2em 5em; */
  margin: 0;
  padding-top: 2rem;
}
#form-submit {
  margin-left: 5rem;
}
.form-control{
  margin: 0 auto;
}

label {
  display: block;
  font-size: 1.2em;
  margin: 0.5rem 0;
  color: black;
}
 input, textarea {
  width: 80%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box ;
}
.userButton, .queryButton{
  display:flex
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: 30rem;
  padding-top: .72rem;
}
#contact {
  margin: 0 auto;
  padding: 0 auto;
}

/* end */
/* blog */

.blog-sect {
  display: block;
  margin-top: 1.8rem;
}

.search-blog {
  display:flex;
  margin-top:0rem;
}
#search-blog-btn{
  margin-left:1rem;
}
#search-blog {
  width:18rem;
  margin-left: 20rem;
  
}
button {
  height: 1.6rem;
  width: 5.5rem;
  display: inline;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
}
.articles {
  display: flex;
  place-content: space-between;
  flex-wrap: wrap;

}
.article {
  margin: 0;
}
.article p {
  color:black
}
.article-img {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0rem 0.3rem 0 0;
}
.article-bottom {
  display: flex;
  margin-top: 0;
}
.article-bottom span {
  margin-right: 2rem;
  align-items: center;
}
.main-img {
  width: 269px;
  height: 180px;
  padding: 0;
  border-radius: 0;
}
.blogs {
  display: flex;
  place-content: space-between;
}
.select {
  display: block;
}
.choose-check {
  display: inline-flexbox;
}
.admin-nav {
}
html,
body {
  overflow-x: hidden;
}
/* end blog */

/* login */
.login-form {
  margin-left:8.5rem;
}
.signup-button{
  margin-left:6.5rem;
  height:3rem;
  width:20rem !important;
}

.admin-login {
  display: block;
  margin: 4rem 17rem 5rem 10rem;
}
.user {
  display: block;
  margin: 2rem;
}
.user td, .user th{
margin: 5rem
}
tr {
  margin:2rem;
}
.user th {
  margin-bottom: 3rem;
}
.admin-login h2 {
  color: var(--primary-color);
  margin-left: 12rem;
  font-size: 2rem;

}
select {
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 18rem;
  height: 2rem;
  margin-right: 0rem;
}

input{
  width:6
}
.btn-update-create{
  margin-left: 8rem;
  width: 50rem !important;
}

.login-button {
  background: var(--primary-color);
  color: white;
  border-radius: 1rem;
  width: 10rem !important;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 0 6rem 0 ;
}
.psw,.email-user, .user-secondname, .user-firstname {
  margin-left: 2rem;
  width: 18rem;
  border-radius: 5rem;
  
}
.psw-login,.email-user-login {
  margin-left: auto;
  width: 18rem;
  border-radius: 5rem;
  
}

/* end */
/* dashboard */
.article-create-button {
  background: var(--primary-color);
  color: white;
  width: 14rem;
  padding-top: 0.5rem;
  height: 2.3rem;
  padding-bottom: 2.3rem;
  text-decoration: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.3rem;
}
.logout {
  background: #800000;
  width: 7rem;
  height: 2.3rem;
}
.create-button {
  font-size: 1rem;
  height: 2rem;
}
#srchinput {
  width: 50%;
}
/* aside {
  width: 10;
  
} */
.views {
  margin: 5rem;
}
.dashboard nav {
  margin-top: -2rem;
  height: 2rem;
  
}
button {
  border-style: none;
}
.article-section {
  display: flex;
  margin: 2rem 0 2rem;
  padding: 1.5rem;
}
.search {
  width: 30;
  display: block;
}
.article-modify {
  width: 70;
}
.search-cta {
  display: block;
}
.srch {
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
}
.check-button {
  display: flex;
  margin-left: 0rem;

}

.date-time {
  padding-bottom: 4rem;
  font-weight: lighter;
  color: lightsteelblue;
  margin: 0;
}
.check-button a{
  color: var(--primary-color);
  margin-top: 1rem;

}
.article-update {
  height: 2rem;
  margin-top: -0.3rem;
}
.article-delete {
  height: 2rem;
  background: var(--fail-color);
  margin-left: 2rem;
  margin-top: -0.3rem;
}
button {
  cursor: pointer;
  height: 2.5rem;
  border-radius: 5rem;
  padding-bottom: auto;
  margin-right: 2rem;
}
a:visited {
  color: var(--primary-color);
}
a{
  text-decoration: none;
}

/* end */
/* create article */
.create-article h2 {
  transform: translate(40%);
  color: var(--primary-color);
  margin-top: 3rem;
}
.article-component {
  display: block;
}
.component {
  display: flex;
}
.component label {
  margin-right: auto;
  margin-left: 2rem;
}
.component textarea,
.component input {
  margin-right: 2rem;
}
.create-button {
  margin: 2rem 0 0 56rem;
  width: 10rem;
  height: 2.5rem;
  font-weight: bold;
  font-size: 1.2rem;

}


/* end */
/* article page*/

.article-detail {
  margin: 5rem;
  background: white;
  padding:1rem;
}
.your-comment {
  color:var(--primary-color);
}
.article-detail h3 {
  color: var(--primary-color);
  font-weight: bold;
  position: relative;
  left: 3rem;
  z-index: 1;
  font-size: 1.5rem;
}
.article-img-main {
  width: 100%;
  height: 20rem;
  border-radius: .5rem;
}

/* end of article page */


/* portfolio */
#portfolio {
  padding-top: 1.2rem;
}
.portfolios-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-pic {
  width: 16rem;
  height: 16rem;
  padding: 0;
  border-radius: 0;
  margin: 2rem;
} 
#portfolio h1 {
  transform: translate(35%);
  font-size: 2rem;
  color: var(--primary-color);
}

/* end of portifolio */

footer {
  
  transform: translate(35%);
}
.error-message {
  border-color: var(--fail-color);
}
/* media query */
@media only screen and (max-width: 320px) {
  :root{
    font-size: 15px;
    }
    
  }
@media only screen and (min-width: 1025px) {
  :root {
    font-size: 20px;
  }
  main {
    margin: 0rem 3rem;
  }
  .profile {
    height: 20rem;
    width: 20rem;
    float: left;
    border-radius: 50%;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
  }
  .landing-page {
    display: flex;
    place-content: space-between;
    margin: 2.5rem 0rem 6rem 0rem;
   

  }
  .current{
 color: var(--primary-color);
  }
  #profile{
    order: 2;
  }
  #description {
    order: 1;
  }
  .navbar-menu,
  .mobile-exit {
    display: none;
  }
  .top {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    color: black;
  }
  .navbar {
    display: flex;
    place-content: space-between;
   
  }
  
  .right {
    display: flex;
    place-content: space-between;
    list-style-type: none;
    margin-left: 9rem;
    margin-top: 1.2rem;
  }
  .top .right a {
    color: black;
    margin: 1em 0.5rem;
  }
  .right li a:hover {
    font-weight: bolder;
    color: var(--primary-color);

  }
  .right li a:visited {
    font-weight: bolder;
    background-color: var(--primary-color);
  }
  
  .container {
    display: flex;
  }
  #about h1.title {
    transform: translate(35%);
  }
  .article-detail {
    margin: 4rem 10rem;
  }
  .article-detail h3 {
    left: 10rem;
    margin-top: 3rem;
}
/* contact */
#contact h2 {
  color:var(--primary-color);
  margin: 1rem 0 0em 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
/* .form-control {
  margin: 0 0;
} */

#contact div {
  margin: auto 5rem;
}

#contact {
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}



.fa-check-circle {
  visibility: hidden;
}
.fa-exclamation-circle {
  visibility: hidden;
}
small{
  visibility: hidden;
  font-size: 0.8rem;
  margin-top: 0rem;
}
.fail small {
  visibility: visible;
  color: var(--fail-color);
}
.success small {
  visibility: visible;
  color: green;
}

.success .fa-check-circle {
  visibility: visible;
  color: green;
}
.fail .fa-exclamation-circle {
  visibility: visible;
  color: var(--fail-color);
}
.fail input,.fail textarea {
  border-color: var(--fail-color);
  
 
} 
.success input, .success textarea {
  border-color: rgb(8, 230, 82)
}

#form-submit:hover {
  background: var(--backround-color);
  color:var(--primary-color);
}
url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.like__btn {
  padding: 10px 15px;
  background: #0080ff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}
th, td {
  padding: 15px;
  text-align: left;
}
.fa-eye{
  color: black;
  margin-right: .3rem;
}
.fa-comment-alt  {
color:black;
margin-left:2rem;
margin-right: .3rem;
}
.comp {
  display: flex
}
.comp label {
  margin-left: auto;
  
}
/* @media only screen and (min-width: 100px) {
  :root{
    font-size: 5px;
    }
    body {
      background: #800000;
    }
  } */
/* end media query */
}
hr{
  visibility:hidden;
}
footer{
  position:absolute;
   bottom:0;
   width:100%;
   z-index: 900;
   visibility:hidden;
}
.isVisible{
  visibility:hidden;
}